body{
    font-family: 'OpenSansRegular', Helvetica, Arial, sans-serif;
    color: #333;
}

.search {
    padding-right: 15px;
    padding-left: 15px;
    margin:  0 auto;
    max-width: 1200px;
}

.search a {
    color: #BF0000;
    text-decoration: none;
}

.search ul, .search ol{
    padding: 0;
}

.search a:hover {
    text-decoration: underline;
}

.search .search__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

.search .search__header h1{
    font-size: 2.188em;
    padding: .7em 0;
    text-align: center;
    font-weight: 100;
    width: 100%;
}

.search .search__header-input{
    width: 100%;
}

.search .search__header-input form{
    width: auto;
    position: relative;
}

.search .search__header-input input {
    width: 100%;
    background: #fff;
    padding: 6px 0 6px 10px;
    font-size: 0.938em;
    display: block;
    border-radius: 0;
    border: 1px solid #ddd;
    height: 2.667em;
    box-shadow: none;
    font-family: 'OpenSansRegular', Helvetica, Arial, sans-serif;
    color: #666;
    -webkit-appearance: none;
}

.search .search__header-input button[type='submit'] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border-radius: 0;
    background: url(./search-white.png) no-repeat center center #BD0000;
    border-color: #BD0000;
    height: 100%;
    width: 4em;
    z-index: 5;
}
.search .search__header-input button[type='reset'] {
    display: none;
}

.search .search__header-input button[type='submit'] svg {
    display: none;
}

.search .hits h2 {
    font-weight: 500;
    font-size: 1.1em;
}

.search .hits h2 a {
    color: #333333;
}

.search .hits h2 a:hover {
    color: #BD0000;
}

.search .hits .hits__text{
    font-weight: 100;
    color: #999;
}

.search .ais-Hits-item {
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
    margin-bottom: 1em;
    list-style: none;
}

.search .search__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
}

.search .search__content{
    width: 100%;
}

.search .search__side-bar{
    font-size: .9em;
}

.search .search__side-bar ul{
    width: 100%;
    list-style: none;
    padding: 0;
}

.search .search__side-bar ul li{
    margin-bottom: 10px;
}

.search .date-inputs{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin-bottom: 1em;
}

.search .date-inputs__item:not(:last-child){
    margin: 0 30px 10px 0;
}

.search .date-inputs__item{
    position: relative;
    width: 150px;
    box-sizing: content-box;
}


.search .date-inputs__item p{
    margin: 0 0 5px 0;
}

.search .date-inputs__item input{
    width: 100%;
    padding: 6px 0 6px 10px;
    font-size: .938em;
    display: block;
    border-radius: 0;
    border: 1px solid #ddd;
    height: 1.667em;
    box-shadow: none;
    font-family: OpenSansRegular,Helvetica,Arial,sans-serif;
    color: #666;
    -webkit-appearance: none;
    background: url(./calendario.png) no-repeat 95% 50% #fff;
    background-size: 15px 15px;
}

.search .date-range__title {
    margin: 0 0 1em;
}

.search .refinement .refinement__label .checkbox{
    height: 15px;
    width: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #999;
    border-radius: 2px;
    outline: none;
    transition-duration: 0.3s;
    cursor: pointer;
}

.search .refinement__item .input-checked{
    display: none;
}
.search .refinement__item .input-unchecked{
    display: inline-block;
    border: 1px solid #666666;
    background-color: transparent;
    vertical-align: middle;
}

.search .refinement__item.refinement__item--selected .input-checked{
    display: inline-block;
    background-color: #BD0000;
    border: 1px solid #BD0000;
    vertical-align: middle;
}

.search .refinement .refinement__item.refinement__item--selected .refinement__text::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: white;
    position: absolute;
    left: 6px;
    top: 1.5px;
    font-size: 12px;
}

.search .refinement__item.refinement__item--selected .input-unchecked{
    display: none;
}
.search .refinement .refinement__label{
    font-size: 13px;
    font-weight: 500;
    position: relative;
}

.search .refinement .refinement__count{
    padding-left: .5em;
    padding-top: .2em;
    color: #999;
}

.search .refinement{
    margin-bottom: 2em;
}

.search .pagination ul{
    list-style: none;
    text-align: center;

}

.search .pagination li {
    font-size: 1.1em;
    display: inline;
    padding: .5em;
}

.search .pagination a {
    padding: 8px 12px;
    text-decoration: none;
    color: #BF0000;
}

.search .pagination a:hover {
    background: #ddd;
    text-decoration: underline;
}

.search .stats {
    color: #666;
}

.active.datepicker.sel.datepicker.day.datepicker{
    background-color: #BD0000 !important;
    color: white !important;
}

.inBtw.datepicker {
    background-color: rgba(189, 0, 0, 0.48) !important;
    color: white !important;
}

@media (min-width: 768px) {
    .search .search__content{
        width: 66.66666666666666%;
    }
    .search .search__side-bar{
        width: 33.33333333333333%;
    }
    .search .search__content ol {
        padding: 0 0 0 40px;
    }
}

@media (min-width: 1024px) {
    .search .date-inputs__item:not(:last-child){
        margin: 0 30px 0 0;
    }
    .search .search__header-input {
        width: 45%;
    }
    .search .search__header h1{
        width: 50%;
        text-align: left;
    }
}
